{% extends 'app_store/base.html' %}
{%load static%}

{% block title %}
    <title>Корзина</title>
{% endblock %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'app_store/images/bg_1.jpg' %});">

    <section class="ftco-section ftco-cart">
{% endblock %}

{% block custom_scripts %}
	<!-- Блок дополнительных пользовательских скриптов-->
	<!-- Функция обновления итоговой суммы у корзины с учетом доставки и купонов-->
	<script src="{% static 'app_store/js/appUpdateSubtotal.js' %}"></script>
	<!-- Функция обновления суммы покупки товара при увеличении числа товара в заказе-->
	<script src="{% static 'app_store/js/appUpdateTotal.js' %}"></script>
	<!-- Функция проверки валидности купона при отправке запроса на адрес /coupon/check/-->
	<script src="{% static 'app_store/js/appCheckCoupon.js' %}"></script>
	<!-- Функция расчета стоимости доставки при отправке запроса на адрес /delivery/estimate с параметрами country, city, code-->
	<script src="{% static 'app_store/js/appEstimateDelivery.js' %}"></script>
{% endblock %}